.*
*.egg-info
__pycache__
/dist/
/coverage.json
/coverage.xml

!.github
!.editorconfig
!.flake8
!.gitignore
!.pre-commit-config.yaml
!.pre-commit-hooks.yaml
!.gitkeep

# for django-dbbackup
/backups/
!/backups/.gitkeep

# from test projects:
**/static/*
**/media/*
*.sqlite3


# Django
secret.txt

# Coverage HTML Report files:
htmlcov

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.tox
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
db.sqlite3
coverage_html/
coverage.xml
*,cover

# Translations
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

