include MANIFEST.in
include AUTHORS
include LICENSE
include README.creole
include tox.ini
include pytest.ini

recursive-include inventory *.py *.html *.js *.css
recursive-include inventory_project *.py *.html
recursive-include inventory_tests *.py

recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-exclude inventory_project/media *
recursive-exclude inventory_project/static *
