#footer {
    text-align: center;
    font-size: 0.8em;
    background: #eee;
    border-top: 1px solid #555;
}
#footer p, #footer a {
   	line-height: 0.3em;
    color: #333;
}
.django-ckeditor-widget {
    width: 75%;
}
@media (max-width: 1100px) {
    .django-ckeditor-widget {
        width: 100%;
    }
}
@media (max-width: 767px) {
    .django-ckeditor-widget {
        width: 99%;
    }
}