#footer {
    text-align: center;
    border-top: 2px solid var(--secondary);
    background-color: var(--breadcrumbs-bg);
    padding: 1em 0;
    margin: 0;
}
#footer a {
    color: var(--breadcrumbs-link-fg);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.1em;
}
#footer a:hover {
    text-decoration: underline;
}