{% extends "admin/base_site.html" %}
{% load i18n l10n admin_urls %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }} delete-confirmation delete-selected-confirmation{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; {% translate 'Change category for selected items' %}
</div>
{% endblock %}

{% block content %}
<p>{% trans "Number of selected items:" %} {{ item_count }}</p>
<p>{% trans "Currently used categories are:" %}</p>
<ul>
{% for category_name in used_categories %}
    <li>{{ category_name }}</li>
{% endfor %}
</ul>
<form method="post">{% csrf_token %}
    <div>
    {{ form.as_p }}
    <input type="hidden" name="action" value="mass_change_category_action">
    {% for obj in items %}<input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}">{% endfor %}
    <input type="submit" value="{% translate 'Yes, I’m sure' %}">
    <a href="{% url opts|admin_urlname:'changelist' %}" class="button cancel-link">{% translate "No, take me back" %}</a>
    </div>
</form>
{% endblock %}
